.DS_Store
.idea
**/.vscode
**/__pycache__
**/.pytest_cache
build
dist
bond_puller.spec

logs/*

venv
**/node_modules
**/.yarn
**/dist
output
dist.7z
downloads
test.py

token.json
conf.ini
config.ini
test.png

nuitka-report.xml
nuitka-report.json

!.vscode/settings.json

db

http/http-client.env.json
http/http-client.private.env.json